h1 {
  text-align: center;
}
h2 {
  padding-left:20px;
}
.section {
  margin:auto;
  width: 60%;
  border: 1px solid gray;
}
.links {
  margin: auto;
  width: 60%;
  border: 1px solid gainsboro;
}
a {
  display: block;
  color: green;
  text-decoration: none;
  padding-left: 20px;
  padding-bottom: 5px;
}
a:hover {
  text-decoration: underline;
}
@media (max-width: 800px) {
  h2 {
    width: 60%;
  }
  .links {
    width: 80%;
  }
}
