body {
  background-color: #E6E6E6;
}
h1 {
  text-align: center;
  color: #44576D;
}
a {
  display: block;
  color: #44576D;
  text-decoration: none;
  padding-bottom: 5px;
}
a:hover {
  text-decoration: underline;
}
.collapsible {
  display: block;
  width: 60%;
  margin:auto;
  box-sizing: border-box;
  border: none;
  background-color: #44576D;
  color: white;
  text-align: left;
  padding: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
.collapsible:hover {
  background-color: #768A96;
}
.collapsible:after {
  content: "\2212";
  float: right;
}
.active:after {
  content: '\002B';
}
.links {
  margin: auto;
  width: 60%;
  background-color: #DFEBF6;
  box-sizing: border-box;
  padding: 10px 20px;
  display: block;
  overflow: hidden;
}
@media (max-width: 800px) {
  .collapsible {
    width: 80%;
  }
  .links {
    width: 80%;
  }
}
